[submodule "HyperionDev"]
           path = ../HyperionDev-BR23070008959/
           url = git://github.com/mojojojoe/HyperionDev.git

[submodule "CoGrammar"]
           path = ~/dev/my-dev/Co_grammar
           url = git://github.com/mojojojoe/code-review.git

